{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_inventory.create') }}" class="btn btn-primary w-100" type="button">Dodaj</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Desc</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>
                        <a href="{{ path('app_inventory.show', {id: post.id}) }}">{{ post.title }}</a>
                    </td>
                    <td>{{ post.description }}</td>
                    <td>
                        <a class="text-danger" href="{{ path('app_inventory.delete', {id: post.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
