{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_register') }}"><div class="d-grid gap-2 mb-3">
            <button class="btn btn-primary" type="button">Dodaj</button>
        </div></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Użytkownik</td>
            <td>Suma</td>
            <td>Podstrony</td>
            <td>Akcje</td>
        </tr>
        </thead>
        <tbody>
        {% for o in orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.user.username }}</td>
                <td>{{ o.price }} ZŁ</td>
                <td>
                    <a class="text-primary" href="{{ path('users_history_order', {id: o.id}) }}">Zamówienie</a>
                    <a class="text-primary" href="{{ path('app_shipping_edit_s', {id: o.id}) }}">Wysłka</a>
                    <a class="text-primary" href="{{ path('app_shipping_edit_p', {id: o.id}) }}">Płatność</a>
                    <a class="text-primary" href="{{ path('app_shipping_edit_c', {id: o.id}) }}">Zawartość</a>
                </td>
                <td>
                    <a class="text-danger" href="{{ path('user_admin_remove', {id: o.id}) }}">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
