{% extends ('base.html.twig') %}

{% block body %}
    <h1>Zamówienie {{ id }}</h1>
    <h6>{{ address.name }} {{ address.lastname }}</h6>
    <h6>{{ address.street }} {{ address.buildingnr }}/{{ address.localenr }}</h6>
    <h6>{{ address.postcode }} {{ address.city }}</h6>
    <h6>{{ address.phonenr }}</h6>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Nazwa</td>
            <td>Ilość</td>
            <td>Zapakowano</td>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.id }}</td>
                <td>{{ item.product.title }}</td>
                <td>{{ item.count }}</td>
                <td><div class="form-outline">
                        <input type="number" id="typeNumber" class="form-control type-number" data-item-id="{{ item.product.id }}" />
                    </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{ path('app_shipping_ship') }}><button class="btn btn-primary">Zapakowana!</button></a>
{% endblock %}

{% block javascripts %}
    <script>
        function GetData()
        {
            return JSON.parse(localStorage.getItem('toShip_data')) || [];
        }

        $(document).ready(function ()
        {
            localStorage.removeItem('toShip_data');

            $('.type-number').change(function ()
            {
                var data = GetData();
                var itemId = $(this).data('item-id');
                var exists = data.find(item => item.id === itemId);

                if(exists) exists.quantity = $(this).val();
                else data.push({id: itemId, quantity: $(this).val()});

                localStorage.setItem('toShip_data', JSON.stringify(data));

                $.ajax({
                    type: 'POST',
                    url: '/public/index.php/shipping/to_ship/save',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log(response);
                    },
                });
            })
        });
    </script>
{% endblock %}