{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Rejestracja</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'Login'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Hasło'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Potwierdzam Regulamin'
        }) }}

        <button type="submit" class="btn btn-primary w-100">Zarejestruj</button>
    {{ form_end(registrationForm) }}
{% endblock %}
