<td>{{ item.id }}</td>
<td>{{ item.title }}</td>
<td>{{ item.price }}zł</td>
<td>{{ count }}</td>
<td><button class="btn btn-secondary">Usuń z koszyka</button></td>
<td>{{ item.price * count }}zł</td>