{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center">Witaj <span class="text-primary">{{ user.username }}</span>!</h2>
    <br>
    {% for u in unpaid %}

    {% endfor %}
    <br>
    {% for u in unrecieved %}

    {% endfor %}
    <br>

    <a href={{ path('user_history_current') }}><button class="btn btn-primary">Zamówienia</button></a>
    <a href={{ path('user_addresses_current') }}><button class="btn btn-primary">Adresy</button></a>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MAGAZYN') %}
        <a href={{ path('app_shipping_ship') }}><button class="btn btn-primary">Pakowanie</button></a>
        <a href={{ path('app_shipping_list') }}><button class="btn btn-primary">Zamówienia</button></a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href={{ path('user_admin_list') }}><button class="btn btn-primary">Użytkownicy</button></a>
        <a href={{ path('app_inventory.index') }}><button class="btn btn-primary">Inwentarz</button></a>
    {% endif %}

    <br>

    <br>
    <a class="text-center text-danger">Wyloguj</a>

{% endblock %}